<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Online Payments Showcase</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<h4>Stripe Checkout</h4>

To see Checkout in action, click the button below, filling in the resulting form with:
<br/>
<ul>
	<li>Any random, syntactically valid email address (the more random, the better)</li>
	<li>One of Stripe's test card numbers, such as 4242 4242 4242 4242</li>
	<li>Any three digit CVC code</li>
	<li>Any expiration date in the future</li>
	<li>
		<form action="/spring-online-payments/stripe" method="POST">
  			<script th:inline="javascript"
  				src="https://checkout.stripe.com/checkout.js" class="stripe-button"
   				data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
    			data-currency="eur"
    			data-amount="10000"
  	  			data-name="Stripe Checkout Demo"
    			data-description="Demo"
    			data-image="/spring-online-payments/resources/img/magoo.jpeg"
    			data-locale="auto"
    			data-bitcoin="true"
    			data-alipay="true">
  		
  			</script>
		</form>
		</li>
</ul>

<a href="https://stripe.com/docs/tutorials/checkout">https://stripe.com/docs/tutorials/checkout</a>
<br/>
<br/>
<a href ="http://www.stripe.com" target="_new"><img src ="/spring-online-payments/resources/img/outline.png" /></a>
<br />

<h4>Realex Hosted Payments Page - HPP</h4>

To see HPP in action, click the button below, filling in the resulting form with:
<br/>
    <ul>
		<li>Any random, syntactically valid email address (the more random, the better)</li>
		<li>One of Realex's test card numbers, such as 4263970000005262</li>
		<li>Any three digit CVC code</li>
		<li>Any expiration date in the future</li>
	</ul>
    		<script src="/spring-online-payments/resources/js/jquery-1.11.3.min.js"></script>
    		<script src="/spring-online-payments/resources/js/rxp-js.js"></script>
    		<script>
    		// get the HPP JSON from the server-side SDK
        		$(document).ready(function () {
            		$.getJSON("/spring-online-payments/realex", function (jsonFromServerSdk) {
                	RealexHpp.init("payButtonId", "responseUrl", jsonFromServerSdk);
            	});
        	});
    		</script>
	
	<button type="button" id="payButtonId">Checkout Now</button>

<br />
<br />
	<a href="https://developer.realexpayments.com">https://developer.realexpayments.com</a>
<br />
<br />
	<a href ="https://www.realexpayments.com" target="_new"><img src ="/spring-online-payments/resources/img/rlx_gen_logo.jpg" /></a>
<br />



<h4>Wepay Embedded Checkout Using Iframe (API is faulty)</h4>

To see Wepay in action, click the button below, filling in the resulting form :


<br/>
<!-- 
    	<div id="wepay_checkout"></div>
			<script type="text/javascript" src="https://www.wepay.com/min/js/iframe.wepay.js"></script>

			<script type="text/javascript">
    			WePay.iframe_checkout("wepay_checkout", "https://stage.wepay.com/api/checkout/12345");
			</script>
 -->
<br />
	<a href ="/spring-online-payments/wepay"><button type="submit" class="button confirm">Checkout</button></a>
<br />
<br />
	<a href="https://www.wepay.com/developer/process_payments/iframe-checkout">https://www.wepay.com/developer/process_payments/iframe-checkout</a>
<br />
<br />
	<a href ="https://www.wepay.com" target="_new"><img src ="/spring-online-payments/resources/img/wepay-logo.svg" width="150"/></a>
<br />



<h4>Ebay Buy Now</h4>

To see Buy Now in action, click the button below:
<br/>
<ul>
	<li>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick" />
			<input type="hidden" name="hosted_button_id" value="3EF497PHADXWU" />
			<table>
				<tr>
					<td>
						<input type="hidden" name="on0" value="Donate to Magoo" />Donate to Magoo
					</td>
				</tr>
				<tr>
					<td>
						<select name="os0">
							<option value="Breakfast">Breakfast €5.00 EUR</option>
							<option value="Lunch">Lunch €10.00 EUR</option>
							<option value="Dinner">Dinner €20.00 EUR</option>
						</select> 
					</td>
				</tr>
				<tr>
					<td>
						<input type="hidden" name="on1" value="Your message" />Your message
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" name="os1" maxlength="200" />
					</td>
				</tr>
			</table>
			<input type="hidden" name="currency_code" value="EUR" />
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" />
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
		</form>
	</li>
</ul>

<br />
	<a href="https://www.paypal.com/ie/webapps/mpp/express-checkout">https://www.paypal.com/ie/webapps/mpp/express-checkout</a>
<br />
<br />
	<a href ="https://www.ebay.com" target="_new"><img src ="/spring-online-payments/resources/img/ebay.jpeg" width="150" /></a>
<br />




</body>
</html>
