<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="" method="POST">
  		<script
  			src="https://checkout.stripe.com/checkout.js" class="stripe-button"
   			data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
    		data-amount="5000"
  	  		data-name="Stripe Checkout Demo"
    		data-description="2 widgets ($50.00)"
    		data-image="/spring-online-payments/resources/img/magoo.jpeg"
    		data-locale="auto">
  		</script>
	</form>
</body>
</html>
